.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.deleteAndEditButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.editButton {
  position: relative;
  font-size: 30px;
  bottom: 9px;
}
