<div class="p-5">
    <h2>Create a new drone</h2>

    <form action="/drones/create" method="post" class="form">
    
    <label for="name" class="form-label"></label>
    <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Name of the drone</span>
    <input id="name" name="name" class="form-control" type="text" required>
    </div>

    <label for="propellers" class="form-label"></label>
    <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Number of propellers</span>
    <input id="propellers" name="propellers" class="form-control" type="text" required>
    </div>

    <label for="maxSpeed" class="form-label"></label>
    <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Max speed</span>
    <input id="maxSpeed" name="maxSpeed" class="form-control" type="text" required>   
    </div>
    
    <button>Create</button>
    
</form>
</div>
